* {
    box-sizing: border-box;   
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: rgb(179, 140, 175);
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: 'menu encabezado encabezado' 'menu columna1 columna2' 'menu piepagina piepagina';
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
}

.caja {
    background-color: #ff9292;
    border: 1px black solid;
    text-align: center;
}

#caja1 {
    grid-area: menu;
}

#caja2 {
    grid-area: encabezado;
}

#caja3 {
    grid-area: columna1;
}

#caja4 {
    grid-area: columna1;
}

#caja5 {
    grid-area: piepagina;
}