* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.container {
    text-align: center;
}

ul {
    list-style: none;
}

.subelement-container {
    display: none;
    background-color: tomato;
    border: solid 2px black;
    margin-left: 0;
    padding-left: 0;
}

.subelement-container:target {
    display: block;
}

#terminosCondiciones {
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    background-color: powderblue;
    text-align: center;
}

#terminosCondiciones:target {
    z-index: 2;
    opacity: 1;
    pointer-events: all;
}

#link {
    text-align: right;
    font-size: 0.7rem;
}

.element-link {
    background-color: limegreen;
    border: solid 2px black;
}
