* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contenedor {
    background-color: limegreen;
    width: 100%;
    height: calc(100px * 6);
}

.caja {
    border: 2px solid black;
    height: 100px;
    margin: 2px;
    width: calc((100% / 6) - 4px);
    float: left;
    text-align: center;
    background-color: tomato;
    border-radius: 10px;
    padding: 40px;
}

@media screen and (max-width: 400px) and (max-width: 800px){
    #caja4 {
        clear: left;
    }
    .caja {
        width: calc((100% / 3) - 4px);
    }
    .contenedor{
        height: 625px
    }
}

@media screen and (max-width: 399px) {
    .caja {
        clear: left;
        width: calc(100% - 4px);
    }
}